@import "config/_variables";
@import "helpers/helpers";
@import "base/base";
@import "vendor/vendor";
@import "config/_bourbon-vars";
@import "elements/elements";
@import "components/components";
@import "layout/layout";



section {
  @include outer-container(100%);
  display: flex;
  height: 100px;
  @include media($mobile){
    height: 100%;
  }
  aside {
    @include span-columns(9);
    @include shift(2 of 6);
    @include omega(4n);
    @include flex-align(center, center);
    border: 1px solid black;
    text-align: center;
    @include media($mobile) {
      @include span-columns(6);
      @include shift(0);
    }
  }
  article {
    @include span-columns(3);
    @include omega;
    @include flex-align(center, center);
    border: 1px solid black;
    text-align: center;
     @include media($mobile) {
      @include span-columns(6);
      @include shift(0);
    }
  }
}
