@import "base/_normalize";
@import "base/_base";

@import "helpers/_functions";
@import "helpers/_mixins";
@import "helpers/_variables";
@import "layout/_grid";


.grid {
  @include container(100%, 20px, 20px)
  @include flex-align(center, null);
  @include grid-row;
  background-color: black;
  color: white;
}

.grid-row {
  @include grid-cell(1);
  @include flex;
  flex: 0 0 300px;
  max-width: 300px;
  .grid-item-1 {
    @include grid-cell(4);
    @include flex-align(center);
    @include flex-order(1);
    font-size: font-px(16);
    border: solid 1px white;
  }
  .grid-item-2 {
    @include grid-cell(1);
    @include flex-align(center);
    @include flex-order(2);
    font-size: font-px(16);
    border: solid 1px white;
  }
}

