@charset "UTF-8";

// -----------------------------------------------------
// Base
// -----------------------------------------------------

// DEFAULTS (define the default em value in pixels)
$base-font-size: 16;

// -----------------------------------------------------
// Grid Variables
// -----------------------------------------------------
$grid-gutter: 20px !default;


$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

// $grid-system-columns: 12;
// $grid-system-gutter: 4%;
// $grid-system-row-width-responsive: 94%;
// $grid-system-include-nesting: true;

// -----------------------------------------------------
// Typography
// -----------------------------------------------------

// $page-font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
// $page-font-size: 16px;
// $page-font: normal normal 500 #{$page-font-size}/1.45 $page-font-family;

// $headings-font-sizes: 38px, 32px, 26px, 20px, 16px, 12px;
// $headings-line-height: 1.1;
// $headings-font-weight: 500;
// $headings-margin-top: 24px;

// $paragraph-margin: 0 0 12px;

// $text-transform-classes: txt-tfm-upr uppercase, txt-tfm-lwr lowercase, txt-tfm-cpl capitalize;
// $text-align-classes: txt-aln-lft left, txt-aln-ctr center, txt-aln-rht right, txt-aln-jst justify;


// -----------------------------------------------------
// Media
// -----------------------------------------------------

// -----------------------------------------------------
// Forms
// -----------------------------------------------------

// -----------------------------------------------------
// Buttons
// -----------------------------------------------------

// -----------------------------------------------------
// navbar
// -----------------------------------------------------

// -----------------------------------------------------
// Footer
// -----------------------------------------------------
